/* Ajoutez ces styles à la fin de votre fichier CSS */

#choix {
    text-align: center;
    margin: 20px; /* Ajoute une marge autour du bloc */
}

#choix h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

#garage {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
}