
/* Styles uniformes pour tous les boutons/links dans la navbar */
.navbar a, .navbar .dropbtn {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    color: var(--background-color);
    text-decoration: none;
    padding: 8px 100px;
    background-color: transparent;
    border: none;
    cursor: pointer;
    transition: transform 0.3s, color 0.3s;
    height: 40px;
    font-size: 16px;
}

.navbar a:hover, .navbar .dropbtn:hover {
    color: var(--highlight-color);
    transform: scale(1.05);
}
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 30px;
    background-color: var(--primary-color);
    box-shadow: 0 2px 10px var(--highlight-color);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    
}

/* Add more styling as needed for the form, select, and options */

/* Style pour la barre de menu */

/* Dropdown */
.dropdown {
    position: relative;
}

.dropdown-content {
    opacity: 0;
    visibility: hidden;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--background-color);
    min-width: 200px;
    max-height: 400px; /* Définissez la hauteur maximale pour rendre la liste déroulante scrollable */
    overflow: hidden auto; /* Ajoutez cette propriété pour rendre la liste déroulante scrollable */
    transform: translateY(-20px);
    transition: opacity 0.3s, transform 0.3s, visibility 0.3s;
    box-shadow: 0px 8px 16px 0px var(--highlight-color);
    z-index: 1;
    border-top: 3px solid var(--secondary-color);
}

.dropdown-content a {
    color: var(--primary-color);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    transition: background-color 0.3s;
}

.dropdown-content a:hover {
    background-color: var(--highlight-color);
    color: var(--primary-color);
}

.dropdown:hover .dropdown-content {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

