

/* Style pour le container de recherche */
.search-container {
    padding: 30px;
    background-color: var(--background-color);
    margin: 40px;
    border-radius: 8px;
    box-shadow: 0 2px 15px var(--highlight-color); /* Ombre plus douce et plus grande */
}

.search-container h2 {
    margin-top: 0;
    color: var(--primary-color);
    border-bottom: 2px solid var(--highlight-color); /* Bordure plus épaisse pour la mise en évidence */
    padding-bottom: 10px;
    margin-bottom: 20px; /* Espacement ajouté pour une meilleure aération */
}

.search-container fieldset {
    border: 1px solid var(--highlight-color);
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
}

.search-container legend {
    color: var(--primary-color);
    font-weight: 600; /* Poids de police augmenté pour la mise en évidence */
}

.search-container label {
    margin-right: 25px;
    color: var(--primary-color);
}

.search-container input[type="checkbox"] {
    margin-right: 8px;
}

.search-container input[type="submit"] {
    background-color: var(--primary-color);
    color: var(--background-color);
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-weight: 600; /* Texte plus gras pour une meilleure visibilité */
}

.search-container input[type="submit"]:hover {
    background-color: var(--primary-color);
}